@font-face {
  font-family: OS-Regular;
  src: url(./public/fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: Roboto-Bold;
  src: url(./public/fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: Roboto-Medium;
  src: url(./public/fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: Roboto-Black;
  src: url(./public/fonts/Roboto-Black.ttf);
}
@font-face {
  font-family: OS-SemiBold;
  src: url(./public/fonts/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: Yellowtail;
  src: url(./public/fonts/Yellowtail-Regular.ttf);
}

.aboutCont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.aboutBlock {
  background-image: url(./public/imgProj/banners/bcgAbout.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 110px 0;
  width: 100%;
}
.aboutCont_first {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutBlock_title {
  font-family: Roboto-Black;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 82px;
  color: #274c5b;
}
.aboutCont_first_img {
  width: 700px;
}
.aboutCont_first_text {
  width: 600px;
}
.aboutCont_first_text_yellow {
  font-family: Yellowtail;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: #7eb693;
}
.aboutCont_first_text_title {
  font-family: Roboto-Black;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 59px;
  color: #274c5b;
}
.aboutCont_first_text_sub {
  font-family: OS-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 165.4%;
  color: #525c60;
}
.aboutCont_first_text_third {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.aboutCont_first_text_third_q {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  gap: 15px;
  color: #274c5b;
}

.aboutButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 28px 49px 28px 46px;
  gap: 10px;
  width: 150px;
  height: 20px;
  background: #274c5b;
  border-radius: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.aboutLink {
  font-family: Roboto-Bold;
  color: white;
  text-decoration: none;
  outline: none;
}

.aboutSecond {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutCont_second {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f8f8;
  width: 98.9vw;
}

.aboutCont_second_text_yellow {
  font-family: Yellowtail, serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: #7eb693;
}

.aboutCont_second_text_title {
  font-family: Roboto-Black;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 59px;
  color: #274c5b;
  width: 525px;
}

.aboutCont_second_text_sub {
  font-family: OS-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 165.4%;
  color: #525c60;
  width: 671px;
}

.aboutCont_second_text_block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 29px 0px;
  background: #ececec;
  border-radius: 49px;
  width: 280px;
  margin: 20px 0;
}

.aboutCont_second_text_block_text {
  font-family: Roboto-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #274c5b;
}

.aboutCont_second_text_block_middle {
  font-family: OS-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 165.4%;
  color: #525c60;
  width: 444px;
  padding-left: 60px;
}

.aboutCont_second_fourCont {
  display: flex;
  justify-content: center;
  background: #f9f8f8;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  gap: 30px;
  padding: 50px 0 0 0;
}

.aboutCont_second_four {
  width: 257px;
  height: 300px;
  background: #ffffff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.aboutCont_second_four_title {
  font-family: Roboto-Black;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 29px;
  color: #274c5b;
}

.aboutCont_second_four_sub {
  font-family: OS-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 165.4%;
  text-align: center;
  color: #525c60;
  width: 184px;
}

.aboutCont_third {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thirdText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

.thirdText_yellow {
  font-family: Yellowtail, serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: #7eb693;
}

.thirdText_title {
  font-family: Roboto-Black;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 59px;
  color: #274c5b;
}

.thirdText_sub {
  width: 852px;
  font-family: OS-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 165.4%;
  text-align: center;
  color: #525c60;
}

.thirdBlocks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.thirdBlock_grey {
  background-color: #f9f8f8;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 5%;
  transition: 0.8s;
  padding: 0 0 15px 0;
}

.thirdBlock_text_name {
  font-family: Roboto_Black;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 29px;
  color: #274c5b;
}

.thirdBlock_text_yellow {
  font-family: Yellowtail;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #7eb693;
}

.thirdBlock_white {
  box-shadow: 0px 29px 44px rgba(150, 150, 150, 0.25);
  transition: 0.8s;
  border-radius: 5%;
  padding: 0 0 15px 0;
}

.thirdBlock_img {
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
}

.thirdBlock_textIcons {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.thirdBlock_icons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: flex-end;
}

.thirdBlock_white:hover {
  transform: scale(0.9);
  transition: 0.8s;
}

.thirdBlock_grey:hover {
  transition: 0.8s;
  transform: scale(0.9);
}

.aboutCont_fourth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #274c5b;
  width: 100%;
  padding: 100px 0;
  gap: 15px;
  margin: 50px 0;
}

.fourth_yellow {
  font-family: Yellowtail;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: #7eb693;
}

.fourth_title {
  font-family: Roboto-Black;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 59px;
  color: #ffffff;
}

.fourth_blocks {
  display: flex;
  gap: 30px;
}

.fourthBlock_img {
  width: 300px;
  height: 300px;
  border-radius: 30px;
}

.fourthBlock_title {
  font-family: Roboto-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #ffffff;
}

.fourth_block{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:20px;
}