@font-face {
  font-family: OS-Regular;
  src: url(./public/fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: Roboto-Bold;
  src: url(./public/fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: Roboto-Medium;
  src: url(./public/fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: Roboto-Black;
  src: url(./public/fonts/Roboto-Black.ttf);
}
@font-face {
  font-family: OS-SemiBold;
  src: url(./public/fonts/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: Yellowtail;
  src: url(./public/fonts/Yellowtail-Regular.ttf);
}

.aboutCont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.aboutBlock {
  background-image: url(./public/imgProj/banners/bcgAbout.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 110px 0;
  width: 100%;
}
.aboutCont_first {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutBlock_title {
  font-family: Roboto-Black;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 82px;
  color: #274c5b;
}
.aboutCont_first_img {
  width: 700px;
}
.aboutCont_first_text {
  width: 600px;
}
.aboutCont_first_text_yellow {
  font-family: Yellowtail;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: #7eb693;
}
.aboutCont_first_text_title {
  font-family: Roboto-Black;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 59px;
  color: #274c5b;
}
.aboutCont_first_text_sub {
  font-family: OS-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 165.4%;
  color: #525c60;
}
.aboutCont_first_text_third {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.aboutCont_first_text_third_q {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  gap: 15px;
  color: #274c5b;
}

.aboutButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 28px 49px 28px 46px;
  gap: 10px;
  width: 150px;
  height: 20px;
  background: #274c5b;
  border-radius: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.aboutLink {
  font-family: Roboto-Bold;
  color: white;
  text-decoration: none;
  outline: none;
}

.aboutCont_second{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.aboutCont_second_text_yellow {
  font-family: Yellowtail, serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: #7eb693;
}

.aboutCont_second_text_title {
  font-family: Roboto-Black;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 59px;
  color: #274c5b;
  width: 525px;
}

.aboutCont_second_text_sub {
  font-family: OS-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 165.4%;
  color: #525c60;
  width: 671px;
}

.aboutCont_second_text_block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 29px 0px;
  background: #ececec;
  border-radius: 49px;
  width: 280px;
  margin: 20px 0;
}

.aboutCont_second_text_block_text {
  font-family: Roboto-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #274c5b;
}

.aboutCont_second_text_block_middle {
  font-family: OS-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 165.4%;
  color: #525c60;
  width: 444px;
  padding-left: 60px;
}
