@font-face {
    font-family: Roboto-Bold;
    src: url(./public/fonts/Roboto-Bold.ttf);
  }
.standard_select{
    outline: none;
    border: none;
    width: auto;
    color: #274c5b;
    font-family: Roboto-Bold;
    font-size: 20px;
}

.select{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}