@font-face {
  font-family: OS-Regular;
  src: url(./public/fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: Roboto-Bold;
  src: url(./public/fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: Roboto-Medium;
  src: url(./public/fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: Roboto-Black;
  src: url(./public/fonts/Roboto-Black.ttf);
}
@font-face {
  font-family: OS-SemiBold;
  src: url(./public/fonts/OpenSans-SemiBold.ttf);
}

.teamBlock {
  /* background-image: url(./public/ImgProj/lic.png); */
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.teamBlock_title {
  padding: 100px 0;
  font-family: Roboto-Black, serif;
  font-weight: 800;
  font-size: 35px;
  line-height: 59px;
  color: #274c5b;
  position: absolute;
}
.teamImg {
  width: 100%;
}
.TeamText {
  text-align: center;
  padding: 100px;
}
.Team {
  color: #7eb693;
  font-size: 25px;
  font-family: Yellowtail;
}
.TeamH {
  color: #274c5b;
  font-size: 40px;
  font-family: Roboto-Black;
}
.TeamP {
  font-size: 18px;
  color: #525c60;
  font-family: OS-Regular;
  margin-top: 10px;
}
.teamGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 56px;
  width: 800px;
  margin-left: 190px;
  margin-top: -150px;
  padding:  100px;
}
