@font-face {
    font-family: OS-Regular;
    src: url(./public/fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: Roboto-Bold;
    src: url(./public/fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto-Medium;
    src: url(./public/fonts/Roboto-Medium.ttf);
  }
@font-face {
    font-family: Roboto-Black;
    src: url(./public/fonts/Roboto-Black.ttf);
}
@font-face {
    font-family: OS-SemiBold;
    src: url(./public/fonts/OpenSans-SemiBold.ttf);
}

.bcgBlogSingle3{
    background: url(./public/ImgProj/photos/blogTomato.png) no-repeat;
    width: 100%;
    height: 750px;
    background-size: cover;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 200px;
}

.card{
    width: 70%;
    background-color: #fff;
    padding: 50px;
    transform: translateY(400px);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 30px;
}

.FLine{
    display: flex;
}

.data{
    display: flex;
}

.post{
    font-weight: 550;
    font-family: OS-SemiBold;
}

.date{
    margin-left: 10px;
    font-family: OS-Regular;
}

.author{
    display: flex;
    margin-left: 20px;
}

.surname{
    margin-left: 10px;
    font-family: OS-SemiBold;
}

.icon{
    width: 20px;
    height: 20px;
}

.title{
    font-family: Roboto-Bold;
    font-size: 48px;
    line-height: 82px;
}

.desc{
    width: 600px;
    font-family: OS-Regular;
}

.block2{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.subBlock{
    width: 50%;
}

.cont2Title{
    line-height: 100px;
    font-family: Roboto-Bold;
}

ul{
    line-height: 60px;
    margin-left: 20px;
    font-family: OS-Regular;
}

.greyBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #F1EDEA;
    border-radius: 30px;
    padding: 10% 0;
}

.greyText{
    width: 70%;
    text-align: center;
    font-family: OS-SemiBold;
}

p{
    font-family: OS-Regular; 
}

h2{
    line-height: 100px;
    font-family: Roboto-Bold;
}

ol{
    line-height: 60px;
    margin-left: 20px;
    font-family: OS-Regular;
    margin-bottom: 50px;
}