@font-face {
    font-family: OS-Regular;
    src: url(./public/fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: Roboto-Bold;
    src: url(./public/fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto-Medium;
    src: url(./public/fonts/Roboto-Medium.ttf);
  }
@font-face {
    font-family: Roboto-Black;
    src: url(./public/fonts/Roboto-Black.ttf);
}
@font-face {
    font-family: OS-SemiBold;
    src: url(./public/fonts/OpenSans-SemiBold.ttf);
}

.blogBanner{
    position: relative;
    background: url(./public/ImgProj/banners/bcgBlog.png) no-repeat;
    width: 100%;
    height: 300px;
}

.blogPattern{
    width: 100%;
}

.blogTitle{
    position: absolute;
    top: 140px;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: Roboto-Black;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    color: #274c5b;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 150px;
}

.grids{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    row-gap: 130px;
}