@font-face {
    font-family: OS-Regular;
    src: url(./public/fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: Roboto-Bold;
    src: url(./public/fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto-Medium;
    src: url(./public/fonts/Roboto-Medium.ttf);
  }
@font-face {
    font-family: Roboto-Black;
    src: url(./public/fonts/Roboto-Black.ttf);
}
@font-face {
    font-family: OS-SemiBold;
    src: url(./public/fonts/OpenSans-SemiBold.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blogCard{
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.bcgImg{
    width: 100%;
    height: 450px;
    border-radius: 30px;
    z-index: -2;
}

.data{
    width: 50px;
   height: 50px;
   position: absolute;
   top: 20px;
   left: 20px;
   display: flex;
   flex-flow: column;
   justify-content: center;
   align-items: center;
   padding: 15px; 
   border: 1px solid black;
   border-radius: 30px;
   z-index: 2;
   background-color: #fff;
   font-weight: 600;
   font-size: large;
   font-family: Roboto-Medium;
}

.aCard{
    position: relative;
    width: 80%;
    height: 300px;
    padding: 40px 40px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 30px;
    position: absolute;
    bottom: -100px;
}

.person{
    display: flex;
    margin-bottom: 15px;
}

.icon{
    width: 20px;
    height: 20px;
}

.personName{
    margin-left: 20px;
    color: #274C5B;
    font-family: OS-Regular;
}

.title{
    font-family: Roboto-Bold;
    font-size: 26px;
    height: 60px;
}

.text{
    width: 400px;
    color: #525C60;
    margin-bottom: 20px;
    height: 60px;
}

.link{
    width: 200px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #274C5B;
    border: 1px solid #274C5B;
    border-radius: 16px;
    position: absolute;
    bottom: 20px;
}

.linkText{
font-weight: 700;
font-size: 20px;
line-height: 23px;
color: white;
font-family: OS-Regular;
}

.linkArrow{
    width: 20px;
    height: 20px;
    margin-left: 20px;
    background-color: #fff;
    padding: 3px;
    border-radius: 10px;
}