@font-face {
  font-family: OS-Regular;
  src: url(./public/fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: Roboto-Bold;
  src: url(./public/fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: Roboto-Medium;
  src: url(./public/fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: Roboto-Black;
  src: url(./public/fonts/Roboto-Black.ttf);
}
@font-face {
  font-family: OS-SemiBold;
  src: url(./public/fonts/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: Yellowtail;
  src: url(./public/fonts/Yellowtail-Regular.ttf);
}

.Servicecont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.serviceBlock {
  background-image: url(./public/imgProj/banners/bcgService.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 110px 0;
  width: 100%;
}

.serviceBlock_title {
  font-family: Roboto-Black;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 82px;
  color: #274c5b;
}
.ServiceH {
  text-align: center;
  margin: 150px 0;
}
.serviceH {
  font-size: 35px;
  color: #7eb693;
  font-family: Yellowtail;
}
.BetterP{
    font-size: 45px;
    color: #274C5B;
    font-family: Roboto-Black;
}
.serviceBlockBig{
  display: flex;
  margin-top: -50px;
}

.block1{
  display: block;
  text-align: end;
}
.changeimg{
  width: 400px;
  height: 600px;
  margin-top: -90px;
}
.block2{
  margin-top: -22px;

}
.servicetextH{
  font-size: 25px;
  color: #274C5B;
}
.servicetextP{
  font-size: 18px;
  color: #525C60;
}
