@font-face {
  font-family: OS-Regular;
  src: url(./public/fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: Roboto-Bold;
  src: url(./public/fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: Roboto-Medium;
  src: url(./public/fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: Roboto-Black;
  src: url(./public/fonts/Roboto-Black.ttf);
}
@font-face {
  font-family: OS-SemiBold;
  src: url(./public/fonts/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: Yellowtail;
  src: url(./public/fonts/Yellowtail-Regular.ttf);
}

.Servicecont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.serviceBlock {
  background-image: url(./public/imgProj/banners/bcgService.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 110px 0;
  width: 100%;
}

.serviceBlock_title {
  font-family: Roboto-Black;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 82px;
  color: #274c5b;
}
.ServiceH {
  text-align: center;
  margin: 50px 0;
}
.serviceH {
  font-size: 35px;
  color: #7eb693;
  font-family: Yellowtail;

}
.BetterP {
  font-size: 45px;
  color: #274c5b;
  font-family: Roboto-Black;
}
.serviceBlockBig {
  display: flex;
  margin-top: -50px;
}

.block1 {
  display: block;
  text-align: end;
  gap: 70px;
}
.changeimg {
  width: 400px;
  height: 700px;
}
.block2 {
  margin-top: -22px;
  gap: 70px;
}
.servicetextH {
  font-size: 25px;
  color: #274c5b;
}
.servicetextP {
  font-size: 18px;
  color: #525c60;
}
.serviceB {
  gap: 70px;
}

.ButtonTextImg1 {
  width: 200px;
  height: 70px;
  border-radius: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  gap: 5px;
  color: #274c5b;
  font-family: Roboto-Bold;
  border: 1px solid #274c5b;
  margin: 40px 0;
  cursor: pointer;
}
.servicefoto {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.ButtonBlock1 {
  cursor: pointer;
}

.fotoservice {
  background-image: url(./public/ImgProj/banners/bcgService.jpg);
  background-size: cover;
  padding: 300px 510px;
  gap: 50px;
}
.serviceText {
  font-size: 30px;
  color: #7eb693;
  font-family: Yellowtail;
  text-align: center;
  height: 50px;
  margin-top: -100px;

}
.servicesimply {
  font-size: 17px;
  text-align: center;
}
.serviceclean {
  font-size: 45px;
  color: #274c5b;
  font-family: Roboto-Black;
  height: 70px;
  padding: 10px;

}
.serviceIMG {
  width: 90px;
  margin-left: 200px;
  margin-top: 150px;
}
