@font-face {
  font-family: OS-Regular;
  src: url(./public/fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: Roboto-Bold;
  src: url(./public/fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: Roboto-Medium;
  src: url(./public/fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: Roboto-Black;
  src: url(./public/fonts/Roboto-Black.ttf);
}
@font-face {
  font-family: OS-SemiBold;
  src: url(./public/fonts/OpenSans-SemiBold.ttf);
}

.SerSinBlock {
  background-image: url("./public/ImgProj/banners/bcgSerSingle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 110px 0;
  width: 100%;
  height: 300px;
}
.SerSinBlock_title {
  font-family: Roboto-Black;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 82px;
  color: #274c5b;
}
.img_sersin {
  width: 1200px;
  margin-top: 100px;
}
.SerSin_Img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.SerSinText {
  margin-top: 50px;
  width: 900px;
  margin-left: 400px;
}
.SerSin_H {
  font-size: 35px;
  color: #274c5b;
  font-family: Roboto-Black;
}
.SerSin_P {
  font-size: 18px;
  color: #525c60;
  line-height: 25px;
  margin-top: 30px;
}
.SerSin_PP {
  font-size: 18px;
  color: #525c60;
  line-height: 25px;
  margin-top: 30px;
}
.ImgBlock_SerSin {
  display: flex;
  margin-left: 400px;
  gap: 20px;
  margin-top: 50px;
}
.SerSin_IMG {
  border-radius: 20px;
  width: 400px;
  height: 200px;
}
.SerSin_HP {
  width: 400px;
  height: 200px;
  background: #f9f8f8;
  border-radius: 20px;
}
.sersin_textH{
  color: #274C5B;
  font-family: Roboto-Medium;
  font-size: 25px;
  margin-top: 40px;
  margin-left: 25px;
}
.sersin_textHP{
  font-size: 16px;
  color: #525C60;
  margin-left: 25px;
  margin-top: 10px;
}
.SerSin_IMG2{
  width: 300px;
  height: 200px;
  border-radius: 20px;
}
.SerSin_HPP {
  width: 500px;
  height: 200px;
  background: #f9f8f8;
  border-radius: 20px;
}
.SerSin_TextButton{
  margin-top: 50px;
  width: 900px;
  margin-left: 400px;
}
.H_SerSin{
  font-size: 28px;
  color: #274C5B;
  font-family: Roboto-Medium;
}
.P_SerSin{
  font-size: 18px;
  color: #274C5B;
  margin-top: 20px;
}
.SerSinButton{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 100px;
  margin-right: 55px;
}
.sersin_button{
  display: flex;
}
.elips{
  padding: 12px;
  background:#7EB693;
  border-radius: 50%;
  color: white;
}
.sersin_button{
  background:
  #F9F8F8;
  border-radius: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

}
.text_sersin{
  color: 
  #274C5B;
  font-size: 25px;
}