@font-face {
  font-family: OS-Regular;
  src: url(./public/fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: Roboto-Bold;
  src: url(./public/fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: Roboto-Medium;
  src: url(./public/fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: Roboto-Black;
  src: url(./public/fonts/Roboto-Black.ttf);
}
@font-face {
  font-family: OS-SemiBold;
  src: url(./public/fonts/OpenSans-SemiBold.ttf);
}

.shopSingle_cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./public/imgProj/banners/bcgShopSingle.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 130px 0;
}

.bannerTitle {
  font-family: Roboto-Black;
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 82px;
  color: #274c5b;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 30px 0;
}

.category {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 31px;
  width: fit-content;
  padding: 5px 20px;
  background: #274c5b;
  border-radius: 8px;
  font-family: OS-SemiBold;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  cursor: grab;
  position: absolute;
  top: 40px;
  left: 40px;
}

.img {
  width: 100%;
  z-index: 1;
}

.imgCont {
  position: relative;
  width: 570px;
  height: 570px;
}

.cost {
  display: flex;
  gap: 10px;
}

.before {
  font-family: OS-SemiBold;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #b8b8b8;
  text-decoration: line-through;
}

.after {
  font-family: OS-Bold;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #274c5b;
}

.textCont {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.someText {
  font-family: OS-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 165.4%;
  color: #525c60;
  width: 658px;
}

.title {
  font-family: Roboto-Bold;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;
  color: #274c5b;
}

.quantityCont {
  display: flex;
  align-items: center;
  gap: 20px;
}

.quantityCont input {
  width: 134px;
  height: 80px;
  background: #ffffff;
  border: 2px solid #274c5b;
  border-radius: 16px;
  font-family: Roboto-Bold;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #274c5b;
  padding: 10px;
}

.middleContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.blue {
  font-family: OS-SemiBold;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;
  text-align: center;
  color: #ffffff;
  width: 363px;
  height: 80px;
  background: #274c5b;
  border-radius: 16px;
  border: none;
  cursor: pointer;
}

.grey {
  width: 309px;
  height: 80px;
  background: #eff6f1;
  border-radius: 16px;
  font-family: OS-SemiBold;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;
  cursor: pointer;
  color: #274c5b;
  border: none;
}

.middleText {
  font-family: OS-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 165.4%;
  color: #525c60;
  width: 1137px;
}

.bottomContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 30px 0;
}

.bottomTitle {
  font-family: Roboto-Black;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 59px;
  color: #274c5b;
}

.cards {
  display: flex;
  gap: 15px;
}
